{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #94B9F3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        background-color: #FFC2A0;
        border-radius: 20px;
        padding: 30px;
        width: 320px;
        color: #000;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="email"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: none;
        color: #000;
        background-color: #ffffff;
    }
    input::placeholder {
        color: #000;
    }
    .btn {
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        border: none;
        background-color: #f23ed7;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .new_user {
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        color: #f23ed7;
    }
    .new_user a {
        color: #000;
        text-decoration: none;
    }
    .new_user a:hover {
        text-decoration: underline;
    }
    .alert {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.9);
        color: #333;
        padding: 15px 30px;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        display: none; /* 기본적으로 숨김 */
    }
    .alert.success {
        border: 2px solid green;
        color: green;
    }
</style>
{% endblock head %}

{% block body %}
<div class="container">
    <h1>안녕하세요! 반갑습니다!</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: green; font-weight: bold;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action = "{% url 'user:login' %}" method = 'POST'>
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name = 'email' id="email" placeholder="이메일을 입력해 주세요">
        <label for="password">Password</label>
        <input type="password" name = "password" id="password" placeholder="패스워드를 입력해 주세요">
        <input type="submit" value="Log in" class="btn">
    </form>
    <div class="new_user">
        <a href="{% url 'user:signup' %}">신규 회원가입</a>
    </div>
</div>
<button onclick="history.back()">돌아가기</button>
{% endblock body %}